{% extends 'base.html' %}

{% block content %}
  <div class="new-author col-sm-6 col-sm-offset-3">
    <h1>New Author</h1>
    <hr>
    <form class="form-horizontal" method="post">{% csrf_token %}
      <fieldset class="col-sm-12">
        {% for field in form %}
          <div class="form-group  {% if field.errors %} has-error {% endif %}">
            <label class="control-label">{{ field.label }}</label>

            <div class="controls">{{ field }}</div>
            <div class="help-block">
              {{ field.help_text }}
              <strong>
                {{ field.errors }}
              </strong>
            </div>
          </div>
        {% endfor %}
      </fieldset>

      <div class="form-actions">
        <p>
          <button type="submit" class="btn btn-primary btn-block">Submit
          </button>
        </p>
      </div>
    </form>
  </div>

{% endblock %}