{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="author-detail col-sm-6 col-sm-offset-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span>ID: {{ author.id }}</span>
        </div>
        <div class="panel-body">
          <span>Author: {{ author.get_full_name }}</span>

          <div class="btn-toolbar pull-right">
            <div class="btn-group">
              <a href="{% url 'authors:edit' author.id %}" type="button"
                 class="btn btn-default"><i
                  class="glyphicon glyphicon-edit"></i>
                Edit</a>
              <a href="{% url 'authors:delete' author.id %}" type="button"
                 class="btn btn-default">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}