{% extends 'base.html' %}

{% block content %}
  <div class="author-list col-sm-6 col-sm-offset-3">
    <div class="page-header">
      {% if user.is_authenticated %}
        <div class="btn-toolbar pull-right">
          <div class="btn-group">
            <a href="{% url 'authors:create' %}" type="button"
               class="btn btn-primary">Create New Author</a>
          </div>
        </div>
      {% endif %}
      <h1>Authors</h1>

    </div>
    <div class="list-group">
      {% for author in authors %}
        <a class="list-group-item" href="{% url 'authors:detail' author.id %}">
          <span>Name: </span>{{ author.get_full_name }}
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}

