{% extends 'base.html' %}

{% block content %}
  <div class="book-confirm-delete col-sm-6 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <form action="" method="post">{% csrf_token %}
          <p>Are you sure you want to delete "{{ object }}"?</p>
          <div class="buttons pull-right">
            <a href="{% url 'books:detail' object.id %}" class="btn btn-primary">No</a>
            <input class="btn btn-danger" type="submit" value="Yes"/>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}