{% extends 'base.html' %}

{% block content %}
  <div class="book-detail col-sm-6 col-sm-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span>ID: {{ book.id }}</span>
      </div>
      <div class="panel-body">
        <span>Title: {{ book.title }}</span>
        {% if user.is_authenticated %}
          <div class="btn-toolbar pull-right">
            <div class="btn-group">
              <a href="{% url 'books:edit' book.id %}" type="button" class="btn btn-default">
                <i class="glyphicon glyphicon-edit"></i>Edit
              </a>
              <a href="{% url 'books:delete' book.id %}" type="button" class="btn btn-default">Delete</a>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}