{% extends 'base.html' %}

{% block content %}
  <div class="book-list col-sm-6 col-sm-offset-3">
    <div class="page-header">
      {% if user.is_authenticated %}
        <div class="btn-toolbar pull-right">
          <div class="btn-group">
            <a href="{% url 'books:create' %}" type="button"
               class="btn btn-primary">Create New Book</a>
          </div>
        </div>
      {% endif %}
      <h1>Books</h1>

    </div>
    <div class="list-group">
      {% for book in books %}
        <a class="list-group-item" href="{% url 'books:detail' book.id %}">
          <span>Title: </span>{{ book.title }}
          <br>
          <span>Authors: </span>{{ book.get_authors }}
        </a>
      {% endfor %}
    </div>
  </div>

{% endblock %}
