{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
        content="{% block meta-description %}{% endblock %}">
  <meta name="author" content="{% block meta-author %}{% endblock %}">
  <meta name="keywords" content="{% block meta-keywords %}{% endblock %}">
  {% block extra-meta %}{% endblock %}

  <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}"
        rel="stylesheet" media="screen">
  <link rel="stylesheet" href="{% static 'css/typeahead.css' %}">
  <link rel="stylesheet" href="{% static 'css/register.css' %}">

  {% block extra-css %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'books:list' %}">Library</a>
    </div>
    <div>

      <ul class="nav navbar-nav">
        <li class="{% if active_menu_item == 'books' %}active{% endif %}">
          <a href="{% url 'books:list' %}">Books</a>
        </li>
        <li class="{% if active_menu_item == 'authors' %}active{% endif %}">
          <a href="{% url 'authors:list' %}">Authors</a>
        </li>
        {% if user.is_authenticated %}
          <li class="menu-home">
            <input id="search" class="typeahead form-control" placeholder="Search for...">
          </li>
        {% endif %}
      </ul>

      <ul class="nav navbar-nav pull-right">
        {% if user.is_anonymous %}
          <li class="{% if active_menu_item == 'signup' %}active{% endif %}">
            <a href="{% url 'signup' %}">Sign Up</a>
          </li>
          <li class="{% if active_menu_item == 'login' %}active{% endif %}">
            <a href="{% url 'login' %}">Log In</a>
          </li>
        {% else %}
          <li><a href="{% url 'logout' %}">Log Out</a></li>
          <li><a style="pointer-events: none" href="#">{{ user }}</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  {% block content %}{% endblock %}
</div>

<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="{% static 'js/csrf_ajax.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/typeahead.jquery.js' %}"></script>
<script src="{% static 'js/typeahead.bundle.js' %}"></script>
<script src="{% static 'js/handlebars.js' %}"></script>
<script src="{% static 'js/search.js' %}"></script>
{% block extra-js %}{% endblock %}
</body>
</html>
