{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_js %}
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-login">
          <div class="panel-heading">
            <div class="text-center">
              <a class="active" id="login-form-link">Login</a>
              {% if form.non_field_errors %}
                <div class="alert alert-danger">
                 {{ form.non_field_errors }}
                </div>
              {% endif %}
            </div>
            <hr>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <form id="login-form" action="" method="post" role="form" style="display: block;">{% csrf_token %}
                  <fieldset class="col-sm-12">
                    {% for field in form %}
                      <div class="form-group  {% if field.errors %} has-error{% endif %}">
                        <label class="control-label">{{ field.label }}</label>

                        <div class="controls">{{ field }}</div>
                        <div class="help-block">
                          {{ field.help_text }}
                          <strong>
                            {{ field.errors }}
                          </strong>
                        </div>
                      </div>
                    {% endfor %}

                  <div class="form-group">
                        <input type="submit" name="login-submit" id="login-submit"
                               tabindex="4" class="form-control btn btn-login" value="Log In">
                  </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}