{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_js %}
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-login">
          <div class="panel-heading">
            <div class="text-center">
              <a class="active" id="register-form-link">Register</a>
            </div>
            <hr>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <form id="register-form" action="" method="post" role="form">
                  {% csrf_token %}

                  <div class="registration">
                    <fieldset class="col-sm-12">
                      {% for field in form %}
                        <div
                            class="form-group  {% if field.errors %} has-error{% endif %}">
                          <label
                              class="control-label">{{ field.label }}</label>

                          <div class="controls">{{ field }}</div>
                          <div class="help-block">
                            {{ field.help_text }}
                            <strong>
                              {{ field.errors }}
                            </strong>
                          </div>
                        </div>
                      {% endfor %}


                    <div class="form-group">
                          <input type="submit" name="register-submit"
                                 id="register-submit" tabindex="4"
                                 class="form-control btn btn-register"
                                 value="Register Now">
                    </div>
                    </fieldset>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}